#infovis {
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 600px;
    height: 600px;
    margin: auto;
    overflow: hidden;
    background-color: #eee;
}

.node {
    border: 1px solid black;
    background-color: #ffffff;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 0px;
    align: left;
}

.tip-title {
    background-color: rgba(255, 255, 0, 0.8);
    font: bold;
    border: 1px outset black;
    border-bottom: 0px;
    padding: 4px;
    padding-bottom: 2px;

}

.tip-text {
    background-color: rgba(102, 255, 51, 0.8);
    border: 1px outset black;
    border-top: 0px;
    padding: 4px;
    padding-top: 2px;
}

.favicon_img {
    width: 16px;
    height: 16px;
}

body {
    min-width: 357px;
    overflow-x: hidden;
}

.jit-autoadjust-label {
  padding: 15px;
}

#update, #restore {
  text-align: center;
  width: 100px;
  margin:0px 35px 10px 35px;
}

